html {
  width: 100%;
}

body {
  width: 100% !important;
  min-height: 100% !important;
}

p {
  color: #fff;
  font-size: 1.15rem;
}

.container {
  width: 100%;
  min-width: 100%;
}

.row {
  width: 100%;
  margin-left: 0rem !important;
  margin-right: 0rem !important;
}

.vertical-spacer {
  height: 1rem;
  margin: 0 auto;
}

.secondary-logo {
  height: 5rem;
}

.box {
  border: 2px solid red;
  height: 2.5rem;
}
/* ================== */
/* ===== HEADER ===== */
/* ================== */
.nav-wrapper {
  background: #434753;
  color: black !important;
  height: 6.5rem !important;
}

.nav-content-wrapper {
  max-width: 80%;
  padding-top: 1rem;
  padding-bottom: 0rem;
  margin: 0 auto;
}

.nav-logo {
  height: 4.5rem;
}

.nav-menu-item {
  margin-top: .6rem;
}

.nav-menu-item a {
  font-size: 1.5rem;
  text-align: center;
  margin-top: -.75rem;
  margin-left: -.075rem;
}

.nav-menu-item a:hover {
  background: transparent;
}

.nav-menu-item a:focus {
  outline-color: transparent;
}

.nav-menu-item-border {
  border: 2px solid white;
  border-radius: .5rem;
  height: 3rem;
}

/* ================== */
/* ===== FOOTER ===== */
/* ================== */
.page-footer {
  background: #434753;
  padding-left: 5%;
  color: white;
}

.footer-link {
  font-size: 1.25rem;
  color: rgba(255,255,255,0.8);
}

.social-icon {
  font-size: 1.5rem;
  margin-right: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.footer-copyright {
}
/* =================== */
/* ===== LANDING ===== */
/* =================== */
.landing-wrapper {
  background: linear-gradient(to bottom right, #1b9a9e, #38a98b) no-repeat;
  background-size: 400% 90%;

  animation: AnimationName 15s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:0% 0%}
  50%{background-position:100% 0%}
  100%{background-position:0% 0%}
}

@media only screen and (max-width: 1300px) {
  .landing-wrapper {
    background-size: 400% 100%;
  }
}

.top-spacer {
  height: 3.5rem;
}

.primary-logo {
  height: 10.5rem !important;
  margin: 0 auto !important;
}

.pitch-image {
  height: 7.5rem !important;
}

.signup-button {
  margin-top: 0rem !important;
  background: linear-gradient(to bottom, #2B2F37, #434753);
  border-radius: .5rem;
  font-size: 1.25rem;
}

.login-link {
  color: #ffffff;
  font-size: 1.15rem;
}

.phones {
  margin-top: 1rem;
}

.learn-more p {
  font-size: 1.5rem;
  margin: 0 auto;
  color: #000000;
}

.learn-more p:hover  {
  text-shadow: 1px 1px 4px grey;
  transition: text-shadow .25s ease-in-out;
  cursor: pointer;
}

.down-arrow {
  font-size: 2.5rem;
  color: #000000;
}

.slider-control-centerleft, .slider-control-centerright, .slider-control-bottomcenter {
  display: none;
}

/* ====================== */
/* ===== ONBOARDING ===== */
/* ====================== */
.onboarding h1 {
  padding-top: 1rem;
  margin-bottom: 0rem;
  color: #434753;
}

.onboarding p {
  color: black;
  margin-top: 0rem;
}

.onboarding-cards {
  margin-top: 1.5%;
}

.onboarding-card {
  padding: 1rem;
  border: 2px solid #434753;
  border-radius: .5rem;
  height: 33.33% !important;
}

.onboarding-title {
  font-size: 1.5rem;
}

.onboarding-description {
  font-size: 1rem;
}
/* ================= */
/* ===== LOGIN ===== */
/* ================= */
.login-wrapper {
  background: linear-gradient(to bottom right, #1b9a9e, #38a98b);
  background-size: 400% 100%;
  height: 100vh !important;
  animation: AnimationName 15s ease infinite;
}

.login-card {
  background: rgba(67, 71, 83, .7);
  border-radius: .5rem;
}

.login-greeting {
  font-size: 2rem;
}

.login-instructions {
  font-size: 1.15rem
}

.login-field {
  box-sizing: border-box !important;
  background: white !important;
  border-radius: .5rem !important;
  padding-left: .75rem !important;
  font-size: 1.15rem !important;
  margin-bottom: 0rem !important;
}

.login-button {
  background: linear-gradient(to bottom, #2B2F37, #434753);
  margin-top: 2.5rem;
  border-radius: .5rem;
  font-size: 1.25rem;
}

/* ================== */
/* ===== SIGNUP ===== */
/* ================== */
.signup-wrapper {
  background: linear-gradient(to bottom right, #1b9a9e, #38a98b);
  background-size: 400% 200%;
  height: 100vh !important;
  animation: AnimationName 15s ease infinite;
}

.signup-greeting {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.signup-instructions {
  font-size: 1.75rem;
  margin-top: 0rem;
}

.signup-field {
  box-sizing: border-box !important;
  background: white !important;
  border-radius: .5rem !important;
  padding-left: .75rem !important;
  font-size: 1.15rem !important;
  margin-bottom: 0rem !important;
}

.signup-next-button {
  background: linear-gradient(to bottom, #2B2F37, #434753);
  margin-top: 2.5rem;
  border-radius: .5rem;
  font-size: 1.25rem;
}

/* ================= */
/* ===== ABOUT ===== */
/* ================= */
.about-background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #434753;
  height: 100vh;
}

.about-container {
  min-width: 80% !important;
}

.about-title {
  color: white;
}

/* ========================== */
/* ===== RESET PASSWORD ===== */
/* ========================== */
#reset-password .container {
  background: linear-gradient(225deg, #38a98b, #1b9a9e);
  background-size: 400% 400%;

  -webkit-animation: ResetPasswordBackground 19s ease infinite;
  -moz-animation: ResetPasswordBackground 19s ease infinite;
  animation: ResetPasswordBackground 19s ease infinite;

  min-height: 100vh;
  overflow-y: hidden;
  padding-top: 2.5rem;
}

@-webkit-keyframes ResetPasswordBackground {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@-moz-keyframes ResetPasswordBackground {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}
@keyframes ResetPasswordBackground {
    0%{background-position:0% 94%}
    50%{background-position:100% 7%}
    100%{background-position:0% 94%}
}

#reset-password .reset-password-card {
  background: rgba(67, 71, 83, .7);
  border-radius: .5rem;
}

#reset-password h2 {
  color: white;
  font-size: 2.5rem;
}

#reset-password p {
  color:black;
}

#reset-password .reset-password-field {
  box-sizing: border-box !important;
  background: white !important;
  border-radius: .5rem !important;
  padding-left: .75rem !important;
  font-size: 1.15rem !important;
  margin-bottom: 0rem !important;
}

#reset-password .reset-password-submit-button {
  margin-top: 0rem !important;
  background: linear-gradient(to bottom, #2B2F37, #434753);
  border-radius: .5rem;
  font-size: 1.25rem;
}

#reset-password .reset-password-cancel-button {
  margin-top: 0rem !important;
  background: linear-gradient(to bottom, #d7180e, #f13228);
  border-radius: .5rem;
  font-size: 1.25rem;
}
